<footer id="footer">
    <div class="footer bg-green">
        <div class="container">
            <div class="row">
                <p class="my-5">Website by Sean Drury</p>
            </div>
        </div>
    </div>
</footer>