{% set navItems = craft.entries
    .section('navigation')
    .level(1)
    .with(['navigationLink'])
    .all()
%}

<nav class="nav flex-column bg-light shadow-sm" data-bs-theme="light">
    {# <div class="container-xl">

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbarContent" aria-controls="mainNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
        </button>

    </div> #}

    <ul class="d-grid nav-list list-unstyled mb-0">
        <li class="nav-item d-flex align-items-center gap-3 position-relative">
            {% include "_svg/nav-icons/nav-football.svg" %}
            <a class="stretched-link nav-link" href="/">My Football Tour</a>
        </li>

        {% nav node in navItems %}
            {% set navigationLinkUrl = node.navigationLink[0].getUrl() ?? "#" %}
            {% set icon = node.icon ?? "football" %}

            <li class="nav-item d-none d-md-flex align-items-center gap-3 position-relative">                
                {% include "_svg/nav-icons/nav-" ~ icon ~ ".svg" %}
                <a class="stretched-link nav-link" href="{{ navigationLinkUrl }}">{{ node.title }}</a>
            </li>
        {% endnav %}
    </ul>
</nav>