<!DOCTYPE html>
<html style="overflow-y: scroll">
	{% set page = entry ?? category %}

	{% include "_layouts/header" %}

	<body dir="{{ craft.app.locale.orientation }}">

		{% include "_bricks/header-content" %}

		<main id="main">
            {% block content %}
            {% endblock %}
        </main>

        {% include "_bricks/footer-content" %}
        {# {% include "_layouts/footer" %} #}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<script src="/dist/main.js"></script>

		{# <script src="../web/dist/main.js"></script> #}
	</body>
</html>