{% extends "_layouts/main" %}

{% block content %}

    <div class="container py-large">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 offset-md-2">
                <h1 class="h2 mb-5">{{ entry.heading ?? entry.title }}</h1>

                {{ entry.body }}

                {{ sprig('_bricks/stadium-search', {'limit': 10}) }}
            </div>
        </div>
    </div>

{% endblock %}