@import "../node_modules/bootstrap/scss/functions";

$spacer: 1rem;

$enable-rounded: true;
$enable-smooth-scroll: true;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1320px
);

$spacers: (
	0: 0,
	1: $spacer * .25,
	2: $spacer * .5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 2,
	6: $spacer * 2.5,
	7: $spacer * 3,
	8: $spacer * 3.5,
	9: $spacer * 4,
	10: $spacer * 4.5,
	large: $spacer * 5
);

@import "../node_modules/bootstrap/scss/variables";

// Brand colours
$white: #ffffff;
$black: #1C1C1C;
$green: #006B04;

$tick-green: #11D100;

// League colours
$premier-league: $tick-green;
$championship: #006ED3;
$league-one: #A50233;
$league-two: #E66F00;

// Team colours
$team-red: #c8102e;
$team-blue: #034694;
$team-sky-blue: #6cabdd;
$team-navy-blue: #00194a;
$team-claret: #6c1d45;
$team-green: #004237;
$team-yellow: #fff200;
$team-gold: #fdb913;
$team-orange: #f68712;
$team-white: $white;
$team-black: #000000;

$primary: $green;

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "red": $team-red,
  "blue": $team-blue,
  "sky-blue": $team-sky-blue,
  "navy-blue": $team-navy-blue,
  "claret": $team-claret,
  "green": $team-green,
  "yellow": $team-yellow,
  "gold": $team-gold,
  "orange": $team-orange,
  "white": $team-white,
  "black": $team-black
));

$body-bg: $black;
$body-color: $white;

$link-color: $white;
$link-decoration: none;
$link-hover-color: $white;
$link-hover-decoration: underline;

$min-contrast-ratio: 3;

$text-readability: 100%;

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Poetsen+One&display=swap');

$font-family-sans-serif: "ABeeZee", sans-serif;
$font-family-monospace: null;
$headings-font-family: "Poetsen One", sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$enable-responsive-font-sizes: true;

$display-font-sizes: (
	1: 4rem,
	2: 3rem,
	3: 2.5rem,
	4: 2rem,
	5: 1.5rem,
	6: 1rem,
);

$line-height-sm: 1.25;
$line-height-base: 1.5;
$line-height-lg: 1.75;

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.25;
$h3-font-size: $font-size-base * 2;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.5;

$display-font-weight: $font-weight-normal;
$display-line-height: $line-height-lg;

$btn-border-width: 3px;
$btn-box-shadow: none;
$btn-font-weight: $font-weight-bold;

$nav-link-font-size: $font-size-base;
$nav-link-font-weight: $font-weight-bold;

// $navbar-light-color: $white;
// $navbar-light-hover-color: $green;
// $navbar-light-active-color: $green;
// $navbar-light-icon-color: null;
// $navbar-light-toggler-border-color: null;
// $navbar-light-toggler-icon-bg: none;

$enable-cssgrid: true;

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/tooltip";

@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";

body {
	color: $body-color;
}

footer {
	background-color: $green;
}

$team-colours: (
	red: $team-red,
	blue: $team-blue,
	sky-blue: $team-sky-blue,
	navy-blue: $team-navy-blue,
	claret: $team-claret,
	green: $team-green,
	yellow: $team-yellow,
	gold: $team-gold,
	orange: $team-orange,
	white: $team-black,
	black: $team-black
);

// Loop through each color and create a class
@each $name, $colour in $theme-colors {
  	
	.team-#{$name} {
		.stadium-pin {
			background-color: $colour;

			&:hover, &:focus {
				background-color: mix($colour, $black);
			}
		}

		.team-info {
			background-color: $colour;

			&:hover, &:focus {
				background-color: darken($colour, 10%);
			}
		}

		.stadium-modal {
			border: 5px solid $colour;
		}
	}
}

.team-black {
	.stadium-pin {
		background-color: $team-white;

		&:hover, &:focus {
			background-color: mix($team-black, $team-white);
		}
	}

	.team-info {
		&:hover, &:focus {
			background-color: lighten($team-black, 25%);
		}
	}
}

.team-yellow, .team-white {
	p, a {
		color: $black;
	}
}

.team-white {
	.stadium-modal {
		border-color: $team-black;

	}
}

.btn {
	padding: 4px 12px;

	&.btn-green {
		background-color: $green;
	}

	&.btn-yellow {
		color: $team-black;
	}
}

.breadcrumb {
	>li+li {
		&:before {
			color: $team-white;
			content: "/\00a0";
			padding-left: 8px;
			padding-right: 5px;
		}
	}
}

.nav {
	position: fixed;
	z-index: $zindex-fixed;
	border: 3px solid $white;
	width: 110px;
	transition: 0.6s ease-in-out width;
	overflow: hidden;

	.nav-list {
		gap: 3px;
		
		.nav-item {
			background-color: $green;
			padding: 1rem;
			text-align: center;
			transition: 0.2s ease-in-out all;
			white-space: nowrap;
			// overflow-x: hidden;

			a {
				text-decoration: none;
				font-family: $headings-font-family;
				font-size: $h4-font-size;
			}

			&:hover, &:active {
				background-color: $white;

				svg {
					path {
						fill: $green;
						transition: .2s ease-in-out all;
					}
				}

				a {
					color: $green;
				}
			}
		}
	}

	&:hover, &:active {
		width: 500px;
	}

	@include media-breakpoint-down(md) {
		position: relative;
		width: auto;

		.nav-list {
			.nav-item {
				a {
					font-size: $h5-font-size;
				}
			}
		}
	}
}

.pagination {
	li {
		padding: 0 1.125rem;
		font-size: 18px;

		button {
			background-color: transparent;
			border: none;
			color: $white;
			cursor: pointer;
			
			&:hover, &:focus {
				text-decoration: underline;
			}

			&.active {
				font-size: 36px;
				cursor: default;
				text-decoration: none;
			}
		}
	}
}

.team-list {
	grid-template-columns: 1fr 1fr;

	.team-card {
		border-radius: 25px;
		border: 5px solid $team-white;
		overflow: hidden;

		.team-info {
			&.bg-white {
				color: $black;
			}
		}
	}
}

form {
	.form-control {
		border: none;
		gap: 1.5rem;
	}

	input[type="checkbox"] {
		-webkit-appearance: none;
		appearance: none;
		background-color: transparent;
		margin: 0;
		font: inherit;
		width: 42px;
		height: 42px;
		border: 2px solid $white;
		border-radius: 2px;
		display: grid;
		place-content: center;

		&:before {
			content: "";
			width: .75rem;
			height: 1.5rem;
			rotate: 45deg;
			border: 3px solid $white;
			border-top: 0;
			border-left: 0;
			transform: translate(-2px, -2px);
			display: none;
		}
		
		&:checked {
			background-color: $tick-green;
		
			&:before {
				display: block;
			}
		}
	}

	input[type="text"], input[type="email"], textarea, select {
		background-color: transparent;
		border: 3px solid $white;
		color: $white;
		padding: 6px 10px;

		&:focus {
			outline: none;
		}

		~ span {
			position: absolute;
		}
	}

	input[type="text"] {
		~ span {
			right: 16px;
			top: 11px;
		}
	}

	select {
		-moz-appearance: none; /* Firefox */
		-webkit-appearance: none; /* Safari and Chrome */
		appearance: none;
		min-width: 250px;

		background-image: url('/assets/icons/dropdown-arrow.svg');
		background-repeat: no-repeat, repeat;
		background-position: right 10px top 50%, 0 0;
		background-size: 12px auto, 100%;

		// ~ span {
		// 	right: 25px;
		// 	top: 15px;
		// }

		// &:before {
		// 	content: '';
		// 	position: absolute;
		// 	width: 0; 
		// 	height: 0; 
		// 	border-left: 20px solid transparent;
		// 	border-right: 20px solid transparent;
		// 	border-top: 20px solid $black;
		// 	right: 0;
		// 	top: 0;
		// }
	}

	/* Change the white to any color */
	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus, 
	input:-webkit-autofill:active{
		-webkit-background-clip: text;
		-webkit-text-fill-color: #ffffff;
		transition: background-color 5000s ease-in-out 0s;
		box-shadow: inset 0 0 20px 20px #23232329;
	}
}

.league-colours {
	#select-leagues {
		.form-control {
			input[type="checkbox"] {
				&:checked {
					&#premier-league {
						background-color: $premier-league;
					}

					&#championship {
						background-color: $championship;
					}

					&#league-one {
						background-color: $league-one;
					}

					&#league-two {
						background-color: $league-two;
					}
				}
			}
		}
	}

	.map-region {
		.region-pins {
			.stadium-details {
				&.premier-league {
					.stadium-pin {
						background-color: $premier-league;
					}	
				}
				&.championship {
					.stadium-pin {
						background-color: $championship;
					}	
				}
				&.league-one {
					.stadium-pin {
						background-color: $league-one;
					}	
				}
				&.league-two {
					.stadium-pin {
						background-color: $league-two;
					}	
				}
			}
		}
	}
}

.accessibility-mode {

// 	.map-region {
// 		.region-pins {
// 			.stadium-pin {
// 				width: 0; 
// 				height: 0; 
// 				background-color: transparent;
// 				border-left: 5px solid transparent;
// 				border-right: 5px solid transparent;
// 				border-top: 5px solid transparent;
// 				border-bottom: 5px solid $team-orange;
// 			}
// 		}
// 	}
}

.labelled-switch {
	gap: 1rem;
}

.switch {
	position: relative;
	display: inline-block;
	width: 74px;
	height: 36px;

	input {
		opacity: 0;
		width: 0;
		height: 0;

		&:checked + .slider {
			background-color: $green;

			&:before {
				-webkit-transform: translateX(38px);
				-ms-transform: translateX(38px);
				transform: translateX(38px);
			}
		}
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: transparent;
		-webkit-transition: .4s;
		transition: .4s;
		border-radius: 35px;
		border: 5px solid $white;

		&:before {
			position: absolute;
			content: "";
			height: 20px;
			width: 20px;
			left: 3px;
			bottom: 3px;
			background-color: white;
			-webkit-transition: .4s;
			transition: .4s;
			border-radius: 50%;
		}
	}
}

.map-all {
	svg {		
		path {
			cursor: pointer;

			&.blue {
				fill: mix($team-blue, $white);

				&:hover, &:focus {
					fill: $team-blue;
				}
			}

			&.green {
				fill: mix($tick-green, $white);

				&:hover, &:focus {
					fill: $tick-green;
				}
			}

			&.red {
				fill: mix($team-red, $white);

				&:hover, &:focus {
					fill: $team-red;
				}
			}

			&.gold {
				fill: mix($team-gold, $white);

				&:hover, &:focus {
					fill: $team-gold;
				}
			}
		}
	}
}

.map-region {
	.region-pins {
		.stadium-pin {
			position: absolute;
			cursor: pointer;
			width: 24px;
			height: 24px;
			border-radius: 100%;
			display: block;
			border: 2px solid $black;
			box-shadow: 0 4px 4px rgba($black, .4);
			z-index: 3;
		}

		.stadium-modal {
			display: none;
			background-color: $white;
			border-radius: 25px;
			padding: 1.75rem;
			color: $black;
			position: absolute;
			left: 50%;
			// top: 50%;
			top: 250px;
			transform: translate(-50%,0);
			min-width: 460px;
			z-index: 10;
		}
	}
}

.stadium-list {
	.card {
		figure {
			border-radius: 25px;
			overflow: hidden;

			a {
				color: $team-white;
			}
		
			figcaption {
				bottom: 0;
				padding: 1rem;
				background: linear-gradient(0deg, $team-black 50%, rgba($team-black, 0) 100%);
				border-radius: 0 0 25px 25px;
			}

			img {
				-webkit-transition: all .5s ease;
				-moz-transition: all .5s ease;
				-o-transition: all .5s ease;
				-ms-transition: all .5s ease;
				transition: all .5s ease;
			}

			&:hover, &:focus {
				img {
					-webkit-filter: brightness(70%);
					transform: scale(1.1);
				}
			}
		}
	}
}

.stadiums-view {
	.team-list {
		display: none;
	}
}

.teams-view {
	.stadium-list {
		display: none;
	}
}